{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 13,
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint"],
  // HERE
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],

  "rules": {
    "no-unused-vars": "error",
    "no-console": "warn",
    "no-undefined": "error",
    "no-unreachable": "error",
    "no-useless-escape": "off",
    "@typescript-eslint/no-explicit-any": "off"
  },

  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },

  "globals": {
    "process": "readonly"
  }
}
